<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Periplus All Cart Tests" verbose="2" parallel="none" preserve-order="true">
    <test name="Cart Test Cases" preserve-order="true">
        <classes>
            <class name="com.periplustest.PeriplusCartTest">
                <methods>
                    <include name="tc01ShouldAddProductWithQtyTwoFromProductPage"/>
                    <include name="tc02ShouldIncreaseCartTotalWhenQuantityIncreases"/>
                    <include name="tc03ShouldBlockCheckoutWhenCartIsEmpty"/>
                    <include name="tc04ShouldUpdateTotalWhenMultipleProductQuantitiesChange"/>
                    <include name="tc05ShouldRecalculateTotalWhenQuantityChanges"/>
                    <include name="tc06ShouldNavigateToCheckoutFromNonEmptyCart"/>
                    <include name="tc07ShouldRejectExcessiveProductQuantity"/>
                    <include name="tc08ShouldPersistCartAfterLogoutAndLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
